<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- helper to construct this is here: https://github.com/cryptix/exp/blob/master/imgesToCSSData/convert.go -->
  <link rel="stylesheet" href="http://bafybeigcsf6qsxs2mjt3c7tfozyqfwhqsjesjpdjozlrdeikx4cxb3fn4y.ipfs.dweb.link/gw-assets/bootstrap.min.css">
  <link rel="stylesheet" href="http://bafybeigcsf6qsxs2mjt3c7tfozyqfwhqsjesjpdjozlrdeikx4cxb3fn4y.ipfs.dweb.link/gw-assets/icons.css">
  <!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iglake/dir-index-html@latest/gw-assets/icons.css">
  -->
  <style>
  .narrow {width: 0px;}
  .padding { margin: 100px;}
  #header {
    background: #093624; /* bRing colors */
  }
  #logo {
    height: 25px;
    margin: 10px;
  }
  .ipfs-icon {
    width:16px;
  }
  .ipfs-hash {
    color: #999;
  }
  .col-xs-12, .col-xs-2 {
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
  }
  </style>
  <title>{{ .Path }}</title>
</head>
<body>
  <div id="header" class="row">
    <div class="col-xs-2">
      <div id="logo" class="ipfs-logo">&nbsp;</div>
    </div>
  </div>
  <br/>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Index of {{ .Path }}</strong>
        {{ if .Hash }}
        <div class="ipfs-hash">
          {{ .Hash }}
        </div>
        {{ end }}
      </div>
      <table class="table table-striped">
        <tr>
          <td class="narrow">
            <div class="ipfs-icon ipfs-_blank">&nbsp;</div>
          </td>
          <td class="padding">
            <a href="{{.BackLink | urlEscape}}">..</a>
          </td>
          <td></td>
        </tr>
        {{ range .Listing }}
        <tr>
          <td>
            <div class="ipfs-icon {{iconFromExt .Name}}">&nbsp;</div>
          </td>
          <td>
            <a href="{{ .Path | urlEscape }}">{{ .Name }}</a>
          </td>
          <td>{{ .Size }}</td>
        </tr>
      {{ end }}
      </table>
    </div>
  </div>
</body>
</html>
